# VITE_COGNITO_USER_POOL_ID=<COGNITO_USER_POOL_ID>
VITE_COGNITO_CLIENT_ID=<COGNITO_CLIENT_ID>
VITE_COGNITO_DOMAIN=<COGNITO_NAME>.auth.<REGION>.amazoncognito.com
VITE_COGNITO_REDIRECT_URI=http://localhost:5173
VITE_COGNITO_ISSUER=https://cognito-idp.<REGION>.amazonaws.com/<VITE_COGNITO_USER_POOL_ID>

VITE_API_BASE_URL=https://<API_GATEWAY_ID>.execute-api.<REGION>.amazonaws.com